USE [master]
GO
/****** Object:  Database [GestionEventos]    Script Date: 8/4/2025 6:57:41 PM ******/
CREATE DATABASE [GestionEventos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GestionEventos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionEventos.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GestionEventos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\GestionEventos_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GestionEventos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GestionEventos]
GO
/****** Object:  User [admin]    Script Date: 8/4/2025 6:57:42 PM ******/
CREATE USER [admin] FOR LOGIN [prueba] WITH DEFAULT_SCHEMA=[sys]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [admin]
GO
/****** Object:  Table [dbo].[Area]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[idArea] [varchar](7) NOT NULL,
	[nombreArea] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idArea] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comision]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comision](
	[codComision] [varchar](7) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[idArea] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[codComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMISION_JURADO]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMISION_JURADO](
	[idComision] [varchar](7) NOT NULL,
	[idJurado] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idComision] ASC,
	[idJurado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMISION_TRABAJO]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMISION_TRABAJO](
	[idComision] [varchar](7) NOT NULL,
	[idTrabajo] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idComision] ASC,
	[idTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[idEvento] [varchar](7) NOT NULL,
	[titulo] [varchar](30) NOT NULL,
	[fecha] [date] NOT NULL,
	[estado] [bit] NOT NULL,
	[idTipEven] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_COMISION]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_COMISION](
	[idEvento] [varchar](7) NOT NULL,
	[idComision] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC,
	[idComision] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EVENTO_RECURSO]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENTO_RECURSO](
	[idEvento] [varchar](7) NOT NULL,
	[idRecurso] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC,
	[idRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jurado]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jurado](
	[idJurado] [varchar](7) NOT NULL,
	[dni] [varchar](11) NOT NULL,
	[idArea] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idJurado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Local]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Local](
	[idLocal] [varchar](7) NOT NULL,
	[ciudad] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idLocal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Participante]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Participante](
	[idParticipante] [varchar](7) NOT NULL,
	[dni] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idParticipante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[dni] [varchar](11) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[telefono] [varchar](12) NULL,
PRIMARY KEY CLUSTERED 
(
	[dni] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recurso]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recurso](
	[idRecurso] [varchar](7) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[disponibilidad] [bit] NOT NULL,
	[idTipRec] [varchar](7) NULL,
	[idLocal] [varchar](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[idRecurso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[idTipEven] [varchar](7) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipEven] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoRecurso]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoRecurso](
	[idTipRec] [varchar](7) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipRec] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrabajoCientifico]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrabajoCientifico](
	[idTrabajo] [varchar](7) NOT NULL,
	[nombre] [varchar](30) NOT NULL,
	[idArea] [varchar](7) NULL,
	[idParticipante] [varchar](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTrabajo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/4/2025 6:57:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[nombreUsuario] [varchar](20) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[tipo] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[nombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Evento] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Recurso] ADD  DEFAULT ((1)) FOR [disponibilidad]
GO
ALTER TABLE [dbo].[Comision]  WITH CHECK ADD FOREIGN KEY([idArea])
REFERENCES [dbo].[Area] ([idArea])
GO
ALTER TABLE [dbo].[COMISION_JURADO]  WITH CHECK ADD FOREIGN KEY([idComision])
REFERENCES [dbo].[Comision] ([codComision])
GO
ALTER TABLE [dbo].[COMISION_JURADO]  WITH CHECK ADD FOREIGN KEY([idJurado])
REFERENCES [dbo].[Jurado] ([idJurado])
GO
ALTER TABLE [dbo].[COMISION_TRABAJO]  WITH CHECK ADD FOREIGN KEY([idComision])
REFERENCES [dbo].[Comision] ([codComision])
GO
ALTER TABLE [dbo].[COMISION_TRABAJO]  WITH CHECK ADD FOREIGN KEY([idTrabajo])
REFERENCES [dbo].[TrabajoCientifico] ([idTrabajo])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([idTipEven])
REFERENCES [dbo].[TipoEvento] ([idTipEven])
GO
ALTER TABLE [dbo].[EVENTO_COMISION]  WITH CHECK ADD FOREIGN KEY([idComision])
REFERENCES [dbo].[Comision] ([codComision])
GO
ALTER TABLE [dbo].[EVENTO_COMISION]  WITH CHECK ADD FOREIGN KEY([idEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EVENTO_RECURSO]  WITH CHECK ADD FOREIGN KEY([idEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EVENTO_RECURSO]  WITH CHECK ADD FOREIGN KEY([idRecurso])
REFERENCES [dbo].[Recurso] ([idRecurso])
GO
ALTER TABLE [dbo].[Jurado]  WITH CHECK ADD FOREIGN KEY([dni])
REFERENCES [dbo].[Persona] ([dni])
GO
ALTER TABLE [dbo].[Jurado]  WITH CHECK ADD FOREIGN KEY([idArea])
REFERENCES [dbo].[Area] ([idArea])
GO
ALTER TABLE [dbo].[Participante]  WITH CHECK ADD FOREIGN KEY([dni])
REFERENCES [dbo].[Persona] ([dni])
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD FOREIGN KEY([idLocal])
REFERENCES [dbo].[Local] ([idLocal])
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD FOREIGN KEY([idTipRec])
REFERENCES [dbo].[TipoRecurso] ([idTipRec])
GO
ALTER TABLE [dbo].[TrabajoCientifico]  WITH CHECK ADD FOREIGN KEY([idArea])
REFERENCES [dbo].[Area] ([idArea])
GO
ALTER TABLE [dbo].[TrabajoCientifico]  WITH CHECK ADD FOREIGN KEY([idParticipante])
REFERENCES [dbo].[Participante] ([idParticipante])
GO
ALTER TABLE [dbo].[Recurso]  WITH CHECK ADD  CONSTRAINT [chk_Recurso_TipoXorLocal] CHECK  (([idTipRec] IS NOT NULL AND [idLocal] IS NULL OR [idTipRec] IS NULL AND [idLocal] IS NOT NULL))
GO
ALTER TABLE [dbo].[Recurso] CHECK CONSTRAINT [chk_Recurso_TipoXorLocal]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD CHECK  (([tipo]='Comercial' OR [tipo]='Administrador'))
GO
USE [master]
GO
